html {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bolder;
  color: white;
  background-color: black;
  margin: 2rem;
}

h1,
h6 {
  font-family: "Rock Salt", cursive;
  text-align: center;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2rem;
}

.add-btn {
  height: 2rem;
  width: 10rem;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
}

button:hover {
  color: white;
  background-color: dodgerblue;
}

.addTask {
  display: none;
}

.showAddTask {
  height: 6rem;
  width: 16rem;
  padding: 2rem;
  color: white;
  background-color: black;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
}

#Tname {
  border: 0px;
}

.add {
  border: 0px;
  border-radius: 5px;
  width: 6rem;
  padding: 0.5rem;
  align-self: center;
}

.tasks {
  display: none;
}

.showTasks {
  display: block;
  border: 2px solid white;
  margin: 2rem;
  padding: 2rem;
  width: 16rem;
}

.taskBox {
  display: flex;
  /* margin: 0 10px; */
}

.taskBox > p {
  margin: auto;
  text-align: left;
}

.active {
  text-decoration: line-through;
}

.taskBox > button {
  border: 0px;
  border-radius: 5px;
  margin: 10px;
  height: 2rem;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

@media (min-width: 1025px) {
  .showAddTask {
    height: 6rem;
    width: 26rem;
  }

  .showTasks {
    width: 26rem;
  }
}
